;; shadow-cljs configuration
{:source-paths
 ["src"
  "src/test"
  "examples"]

 :dependencies
 [[reagent "1.0.0"]
  [metosin/malli "0.4.0"]
  [borkdude/sci "0.2.4"]
  [garden "1.3.10"]]

 :builds {:pet-game {:target :browser
                     :output-dir "examples/pets/public/js"
                     :asset-path "/js"
                     :js-options {:js-provider :shadow}
                     :compiler-options {:optimizations :whitespace}
                     :modules {:main {:entries [pets.game]}}
                     :devtools {:http-root "examples/pets/public"
                                :repl-init-ns pets.game
                                :http-port 3000
                                :preloads [shadow.remote.runtime.cljs.browser]}}}}
