.container {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0
}

.center-logo-container {
  display: flex;
  height: inherit;
  justify-content: space-around;
  flex-direction: column;
}

.black-background {
  background-color: black;
}

.text-align-center {
  text-align: center;
}


.logo {
  width: 75%
}

.loading-bar {
  height: 20px;
  align-self: center;
  width: 50%;
  border: 1px solid white;
}

.loading-bar-progress {
  background-color: white;
  height: inherit;
  transition: width 0.2s ease-in-out;
}