.container {
  width: 90vw;
  height: 90vh;
  border: 1px solid black;
}

.ry-background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: inherit;
  height: inherit;
  display: flex;
}

.ry-game {
  width: inherit;
  height: inherit;
  display: flex;
  user-select: none;
}

.ry-dialogue {
  position: absolute;
  background: rgb(0, 0, 0, 0.7);
  width: inherit;
  height: 30%;
  margin-bottom: 2%;
  align-self: flex-end;
  z-index: 1000;
}

.ry-dialogue-content {
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 20px;
  color: white;
  font-size: 1.5em;
  font-family: helvetica;
}

.ry-dialogue-title {
  position: absolute;
  border: 1px solid black;
  border-radius: 10px;
  top: -1.5em;
  left: 70px;
  background: rgb(213, 213, 213, 1);
  height: 2em;
  padding: 7px;
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.ry-actors {
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  height: 90%;
  width: inherit;
  margin-top: 00%;
  z-index: 500;
  justify-content: center;
}

.ry-actor {
  align-self: flex-end;
  height: 100%;
}
